.all{
    font-family: Noto Sans JP, sans-serif;
    background-color: #ffffff;
}

.title{
    margin: 10px 60px;
}
.box1{
    box-shadow: 0 0px 3px 0px rgb(0 0 0);
    border: 1px solid;
    border-radius: 5px;
    padding: 13px;
    width: 1790px;
    margin-left: 67px;
    height: 250px;
}
.box1a{
    padding: 10px 0px;
}
.box2{
    box-shadow: 0 0px 3px 0px rgb(0 0 0);
    border: 1px solid;
    border-radius: 5px;
    top: 100px;
    height: 79px;
    padding: 13px;
    flex-direction: column;
    justify-content: space-between;
    width: 1790px;
    margin-left: 67px;
    margin-top: 10px;
}
.box3{
    box-shadow: 0 0px 3px 1px rgb(119, 119, 119);
    border-radius: 3px;
    width: 70px;
    position: relative;
    left: 110px;
    padding: 6.2px;
    background-color: #ffffff;
    z-index: 99999999999999999;
    margin: -30px 10px;
    top: 50px;
}

.list0{
    display: flex;
    list-style: none;
}

.list{
    display: flex;
    list-style: none;
}

.list li{
    margin-right: 50px;
}

.list2{
    display: flex;
    list-style: none;
}

.list2 li{
    margin-right: 50px;
}

.list2asize{
    width:130%
}

.list3a{
    padding: 0px 24px 0px 13px;
}
.list3b{
    padding: 0px 77px 0px 13px;
}
.list3c{
    padding: 0px 57px 0px 13px;
}
.list3d{
    padding: 0px 33px 0px 13px;
}





.result{
    padding: 6px 10px 10px 10px;
    margin-left: 1671px;
    margin-top: -39px;
}

.MapContainer{
    top: 100px;
    box-shadow: 0 0px 1px 0px rgb(0 0 0);
    margin-top: 8px;
    margin-left: 68px;
    width: 1790px;
}

.button{
    background: transparent;
    padding: 2px 13px;
    color: #3355ff;
    border: 1px solid #3355ff;
    border-radius: 4px;
}

.button2{
    padding: 2px 13px;
    color: #ffffff;
    border: 1px solid #003ee5;
    border-radius: 4px;
    background-color: #003ee5;
}

.realstatesearch{
    margin-top: 8px;
}
.hovered {
  background-color: #f0f8ff;
}

.hovered2 {
  color: #ffffff;
  background-color: #0030b2;
}

.clicked {
  border-color: #d9a648;
}

.searchbutton{
    margin-left: 1240px;
}
.cancelbutton{
    margin-left: 3px;
    background-color: #ffffff;
}
.close{
    position: absolute;
    right: 64px;
    bottom: 10px;
}

.selectedfile{
    padding: 0px 250px 0px 1px;
    margin-left: 10px;
}
.hr{
    position: relative;
    height: 1px;
    width: 13px;
    background-color: black;
    top: 12px;
    margin: 0px 5px 0px;
}
